<html>
<head>
  <title>StatEasy</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
</head>
<body>
<nav [@visibilityChanged]="navVisibility"
     class="nav-transparent d-flex flex-row justify-content-start align-items-center sticky-top" id="navbar"
     style="font-size:1.5vw;height:8vh; ">
  <div (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()" [ngClass]="{'dropdown-hover':hover}" class="nav-item"
       style="position: relative; ">
    <div class=" d-flex align-items-center justify-content-center" style="width: 100%; height: 100%">
              <h3>Available methods</h3>
            </div>

            <div id="drop" [ngClass]="{'dropdown-content':true, 'dropdown-content-hover': hover}" (click)="hideDropdown()" class ="drop-transparent align-items-center d-flex flex-column">
              <div class="drop-item align-items-center d-flex justify-content-center" routerLink="/regression/">
                 <a >Simple Regression</a>
              </div>
              <div class="drop-item align-items-center d-flex justify-content-center" routerLink="/dnn/">
                <a >DNN</a>
              </div>
              <div class="drop-item align-items-center d-flex justify-content-center"
                   routerLink="/polynomial-regression/">
                <a>Polynomial Regression</a>
              </div>
              <div class="drop-item align-items-center d-flex justify-content-center"
                   routerLink="/logistical-regression/">
                <a>Logistical Regression</a>
              </div>
            </div>
          </div>
      </nav>


<!--<div style=" height: 10000px;">-->
<!--&lt;!&ndash;filter: blur(0.35em); &ndash;&gt;-->
<!--</div>-->


<div class=" " style="background-image:url('/assets/headerBlured.png'); height: 100vh; background-size: cover; background-repeat: no-repeat; background-position: center;  background-attachment: fixed;
 display: block;  overflow: hidden;">
  <div class="d-flex justify-content-center align-items-center"
       style="position: absolute; top: 0; left: 0; width: 100%; height: 100vh">
    <h1 id="title">
      Statistics <em>Easy</em></h1>
    <div class="d-flex flex-column justify-content-end align-items-center "
         style="position: absolute; bottom: 0; color: white">
      <p>Scroll down</p>
      <p [@blink]="state1"><i class="arrow down white"></i></p>
      <p [@blink]="state2"><i class="arrow  down white"></i></p>
    </div>

  </div>
  </div>

<div class="main-page-content d-flex align-items-center justify-content-center">
  <h1>What is StatEasy?</h1>
  <p class="information">


    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>

<div class=" " style="background-image:url('/assets/headerBlured.png'); height: 60vh; background-size: cover; background-repeat: no-repeat; background-position: center;  background-attachment: fixed;
 display: block; overflow: hidden"></div>
<!--</div>-->


<div class="d-flex flex-wrap justify-content-center align-items-center " id="main"
     style="background-color:rgb(250,250,250); position: relative; margin-bottom: 46vh; box-shadow: 0 0.3em 0.2em 0 white; overflow: hidden; min-height: 170vh; transition: height linear; padding-top: 5vh; padding-bottom: 5vh;">

<!--<div class="d-flex flex-column justify-content-around align-items-center" style=" ">-->

  <!--<div id="anchor1" ></div>-->
  <!--<div [@enterAnimationTop] *ngIf="anchorsReached[0]">-->
  <!--<h1><em>About project</em></h1>-->
  <!--<h3>Our site provides essential tools for data analysis, including deep neural networks</h3>-->
  <!--<hr>-->

  <!--</div>-->
  <!--<div id="anchor2" ></div>-->
  <!--<div [@enterAnimationBottom] *ngIf="anchorsReached[1]">-->
  <!--<h1 style=" margin: 2em">Examples</h1>-->
  <!--</div>-->
  <!--<div id="anchor3"></div>-->
  <!--<div  [@enterAnimationLeft] *ngIf="anchorsReached[2]" style=" margin: 2em; width: 100%" class="d-flex flex-column  align-items-center">-->
  <!--<h4><em>Building of simple regression</em></h4>-->
  <!--<app-main-reg-chart style="width: 100%"></app-main-reg-chart>-->
  <!--<a routerLink="/regression/"><button class="btn btn-dark btn-lg" ><h1 style="font-size:2vw">Build regression right now!</h1></button></a>-->
  <!--<hr>-->
  <!--</div>-->

  <!--<div id="anchor4"></div>-->
  <!--<div [@enterAnimationRight] *ngIf="anchorsReached[3]" style=" margin: 2em; width: 100%" class="d-flex flex-column align-items-center">-->
  <!--<h4><em>Prediction of the time series with DNN</em></h4>-->
  <!--<app-main-dnn-chart style="width: 100%"></app-main-dnn-chart>-->
  <!--<a routerLink="/dnn/" ><button class="btn btn-dark btn-lg" ><h1 style="font-size:2vw">Start using DNN!</h1></button></a>-->
  <!--<hr>-->
  <!--</div>-->
  <h1>Available statistical methods</h1>

  <div class="cards d-flex flex-wrap justify-content-center align-items-center ">
    <div class="my-card-outer">
      <div id="anchor1" style="margin-bottom: 5em"></div>

      <div *ngIf="anchorsReached[0]" [@enterAnimationBottom]
           class="my-card-inner d-flex flex-column align-items-center justify-content-around ">
        <div class="d-flex align-items-center justify-content-center" style="height:20%;">
          <h3>Simple Regression</h3>
        </div>

        <div
          style="width: 90%; height: 60%; background-image: url('/assets/Example1.png'); background-size: cover; background-repeat: no-repeat"></div>

        <div>
          <button class="btn btn-dark btn-lg" routerLink="/regression">Go to method</button>
        </div>
      </div>
    </div>

    <div class="my-card-outer">
      <div id="anchor2" style="margin-bottom: 5em"></div>

      <div *ngIf="anchorsReached[1]" [@enterAnimationBottom]
           class="my-card-inner d-flex flex-column align-items-center justify-content-around ">
        <div class="d-flex align-items-center justify-content-center" style="height:20%;">
          <h3>DNN</h3>
        </div>

        <div
          style="width: 90%; height: 60%; background-image: url('/assets/Example2.png'); background-size: cover; background-repeat: no-repeat"></div>

        <div>
          <button class="btn btn-dark btn-lg" routerLink="/dnn">Go to method</button>
        </div>
      </div>
    </div>

    <div class="my-card-outer">
      <div id="anchor3" style="margin-bottom: 5em"></div>

      <div *ngIf="anchorsReached[2]" [@enterAnimationBottom]
           class="my-card-inner d-flex flex-column align-items-center justify-content-around ">
        <div class="d-flex align-items-center justify-content-center" style="height:20%;">
          <h3>Polynomial regression</h3>
        </div>

        <div
          style="width: 90%; height: 60%; background-image: url('/assets/Example3.png'); background-size: cover; background-repeat: no-repeat"></div>

        <div>
          <button class="btn btn-dark btn-lg" routerLink="/polynomial-regression">Go to method</button>
        </div>
      </div>
    </div>


    <div *ngFor="let i of [4,5,6,7,8,9,10,11,12]" class="my-card-outer">
      <div id="anchor{{i}}" style="margin-bottom: 5em"></div>

      <div *ngIf="anchorsReached[i - 1]" [@enterAnimationBottom]
           class="my-card-inner d-flex flex-column align-items-center justify-content-around ">
        <div class="d-flex align-items-center justify-content-center" style="height:20%;">
          <h3>Method {{i}}</h3>
        </div>

        <div style="width: 90%; height: 60%; background: lightgrey"></div>

        <div>
          <button class="btn btn-dark btn-lg">Go to method</button>
        </div>
      </div>
    </div>


    <div id="anchor13"></div>
    <div *ngIf="anchorsReached[12]" [@enterAnimationBottom] style="width: 100%; margin-bottom: 5em">
    <h1>FAQ</h1>
    <app-accordion ></app-accordion>
  </div>
</div>

  <div class="d-flex flex-column align-items-center justify-content-center" style="width: 100%; height: auto">
    <p>Scroll for footer</p>
    <p><i class="arrow down dark"></i></p>
  </div>

  <!--<div class="arrow-to-top d-flex align-items-center justify-content-center">-->

  <!--</div>-->

  <p (click)="toTop()" [hidden]="ttHidden" class="arrow-to-top"><i>&#8593;</i></p>
</div>


<!--</div>-->


<app-footer></app-footer>
</body>
</html>
