<nav  id="navbar" class="nav-transparent d-flex justify-content-start align-items-center sticky-top" style="font-size:1.5vw;height:8vh; ">
       <div class="nav-item d-flex align-items-center justify-content-center" routerLink="" style="width: 16vw; height: 100%">
              <h3>Home</h3>
        </div>


        <div class="nav-item  d-flex  justify-content-center" (mouseenter)="showDropdown(0)" (mouseleave)="hideDropdown(0)" [ngClass]="{'dropdown-hover': hover[0]}" style="position: relative " >

          <div class="d-flex align-items-center justify-content-center" style="width: 16vw; height: 100%">
              <h3>Moving averages</h3>
            </div>

            <div [ngClass]="{'dropdown-content':true, 'dropdown-content-hover': hover[0]}" (click)="hideDropdown(0)" class =" drop-transparent d-flex align-items-center justify-content-center  flex-column">
              <div class="drop-item d-flex align-items-center justify-content-center"
                   routerLink="/simple-moving-averages/">
                <a>Simple</a>
              </div>


              <div class="drop-item d-flex align-items-center justify-content-center"
                   routerLink="/exponential-moving-averages/">
                <a>Exponential</a>
              </div>
              <div class="drop-item d-flex align-items-center justify-content-center"
                   routerLink="/weighted-moving-averages/">
                <a>Weighted</a>
              </div>
              <div class="drop-item d-flex align-items-center justify-content-center"
                   routerLink="/running-moving-averages/" style="border-radius: 0 0 1em 1em;">
                <a>Running</a>
              </div>
          </div>
        </div>


   <div class="nav-item  d-flex  justify-content-center" (mouseenter)="showDropdown(1)" (mouseleave)="hideDropdown(1)" [ngClass]="{'dropdown-hover': hover[1]}" style="position: relative " >

          <div class="d-flex align-items-center justify-content-center" style="width: 16vw; height: 100%">
              <h3 >Regressions</h3>
            </div>

            <div [ngClass]="{'dropdown-content':true, 'dropdown-content-hover': hover[1]}" (click)="hideDropdown(1)" class ="drop-transparent d-flex align-items-center justify-content-center  flex-column">
              <div class="drop-item align-items-center d-flex justify-content-center" routerLink="/regression/">
                 <a >Simple</a>
              </div>

              <div class="drop-item align-items-center d-flex justify-content-center"
                   routerLink="/polynomial-regression/">
                <a>Polynomial</a>
              </div>

              <div class="drop-item align-items-center d-flex justify-content-center"
                   routerLink="/logistic-regression/" style="border-radius: 0 0 1em 1em;">
                <a>Logistic</a>
              </div>

            </div>
          </div>

  <div class="nav-item d-flex  justify-content-center" (mouseenter)="showDropdown(2)" (mouseleave)="hideDropdown(2)" [ngClass]="{'dropdown-hover': hover[2]}" style="position: relative" >

          <div class=" d-flex align-items-center justify-content-center" style="width: 16vw; height: 100%">
              <h3>Other methods</h3>
            </div>

            <div  [ngClass]="{'dropdown-content':true, 'dropdown-content-hover': hover[2]}" (click)="hideDropdown(21)" class =" drop-transparent align-items-center d-flex flex-column">

              <div class="drop-item align-items-center d-flex justify-content-center" routerLink="/dnn/">
                <a >DNN</a>
              </div>

              <div class="drop-item d-flex align-items-center justify-content-center"
                   routerLink="/distributions/">
                <a>Distributions</a>
              </div>

              <div class="drop-item d-flex align-items-center justify-content-center"
                   routerLink="/kalmans-filter/">
                <a>Kalmans filter</a>
              </div>
              <div class="drop-item d-flex align-items-center justify-content-center"
                   routerLink="/tree/">
                <a>Tree</a>
              </div>
              <div class="drop-item d-flex align-items-center justify-content-center"
                   routerLink="/sgd/">
                <a>SGD</a>
              </div>
              <div class="drop-item d-flex align-items-center justify-content-center"
                   routerLink="/general/">
                <a>General</a>
              </div>
              <div class="drop-item d-flex align-items-center justify-content-center"
                   routerLink="/svm/" style="border-radius: 0 0 1em 1em;">
                <a>SVM</a>
              </div>
            </div>
          </div>

  <div class="nav-item d-flex  justify-content-center" (mouseenter)="showDropdown(3)" (mouseleave)="hideDropdown(3)" [ngClass]="{'dropdown-hover': hover[3]}" style="position: relative" >

          <div class=" d-flex align-items-center justify-content-center" style="width: 16vw; height: 100%">
              <h3>Clusterization</h3>
            </div>

            <div  [ngClass]="{'dropdown-content':true, 'dropdown-content-hover': hover[3]}" (click)="hideDropdown(3)" class =" drop-transparent align-items-center d-flex flex-column">

              <div class="drop-item align-items-center d-flex justify-content-center" routerLink="/h-cluster/">
                <a >H-Cluster</a>
              </div>

              <div class="drop-item d-flex align-items-center justify-content-center"
                   routerLink="/k-means/">
                <a>K-Means</a>
              </div>

              <div class="drop-item d-flex align-items-center justify-content-center"
                   routerLink="/t-sne/" style="border-radius: 0 0 1em 1em;">
                <a> T-SNE</a>
              </div>
            </div>
          </div>

      <div class="nav-item d-flex  justify-content-center" (mouseenter)="showDropdown(4)" (mouseleave)="hideDropdown(4)" [ngClass]="{'dropdown-hover': hover[4]}" style="position: relative" >

          <div class=" d-flex align-items-center justify-content-center" style="width: 16vw; height: 100%">
              <h3>Classifications</h3>
            </div>

            <div  [ngClass]="{'dropdown-content':true, 'dropdown-content-hover': hover[4]}" (click)="hideDropdown(4)" class =" drop-transparent align-items-center d-flex flex-column">
              <div class="drop-item d-flex align-items-center justify-content-center"
                   routerLink="/tree/">
                <a>Tree</a>
              </div>
              <div class="drop-item d-flex align-items-center justify-content-center"
                   routerLink="/sgd/">
                <a>SGD</a>
              </div>
              <div class="drop-item d-flex align-items-center justify-content-center"
                   routerLink="/svm/" style="border-radius: 0 0 1em 1em;">
                <a>SVM</a>
              </div>
            </div>
          </div>
      </nav>
