
<div id="footer" class="d-flex flex-column align-items-center ">
  <div class="d-flex">
  <div id="about" class="d-flex flex-column align-items-start justify-content-start">
    <h1 class="white-font">Statistica Easy</h1>
    <p>
       <em>Statistics Easy </em>(or simply <em>StatEasy</em>) is collaborative project, being developed by a group of
    university groupmates.
    Our main goal is to provide useful Mathematical and Statistical tools, that might come in
    handy for students, who are interested in learning math and related subjects.
    </p>

  </div>
  <div id="credits">
    <h1 class="white-font">Contributors:</h1>
    <h4 class="white-font">Backend and idea</h4>
    <p>Yaroslav Voytovych</p>
    <h4 class="white-font">Frontend </h4>
    <p>Nazar Vivchar</p>
    <h4 class="white-font">Methods</h4>
    <p>Nazariy Sorokopud, Andrew Pasternak, Oksana Yarysh
    </p>
    <p>
      Olya Khomyn, Nazar Gorban, Mariya Lytvyn
    </p>
    <p>
      Darya Dombrovska, Olesya Bogonis
    </p>

  </div>
    </div>
  <div id="copyright" class="d-flex align-items-center justify-content-center">
    <p class="white-font">@Statistica Easy 2019</p>
  </div>
</div>
