div{
  width: 100%;
  font-size:1vw;
}
.accordion-item{
  width: 100%;
  margin-bottom: 1em;
}
.accordion-head{
  border: #919eba solid 0.05em;
  padding: 1em;
  width: 100%;
  border-radius: 0.5em;
 box-shadow: 0 0.3em 0 0 #919eba;
  color: #141D2E;
  cursor: pointer;
}
.accordion-head:hover{
  background-color: #919eba;
  box-shadow: 0 0.3em 0 0 #7282a7;
  color: white;
}
.accordion-drop{

  margin-bottom: 1em;
  padding: 3em;
  box-shadow: 0 0.3em 0.7em 0 #919eba;
  border-radius: 0.5em;
}
